body {
  font-family: Segoe UI;
}
.btn{
    padding: 5px 10px;
    border: 1px solid;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    background: #2196F3;
    color: #fff;
}
.btn.disable {
	background: gray;
	pointer-events: none;
	cursor: default;
}